.input_field{
    width: 100%;
    height: 40px;
    margin-left: 0px;
}
.where_to{
    padding: 0px;
}
.date{
    color: black;
    font-size: 36px;
    /* margin-top: 30px; */
     margin-left: 5px;
    display: inline-block;
    
}
.month{
    /* color: black; */
    font-size: 15px;
    display: inline-block;
}
.month_1{
    font-size: 13px;
    padding: 5px;
    /* margin-top: 10px; */
}
.day{
    font-size: 13px;
    padding: 5px;

}
p.reward{
    /* margin-top: 50px; */
    background-color: darkgray;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    /* margin-top: 20px; */
    
}
.carousel-inner .item .flower_img{
    width: 100%;
    height: 500px;
}
.explore_sea{
   text-align: center;
   color:midnightblue;
   font-size: 40px;
   font-weight:bold;
}
.hotel_specifications{
   text-align: center; 
    /* padding: 0px 150px;  */
}

.sea{
    text-align: center;
}
.travels_memory{
    height: 300px;
    width: 100%;
    
}

.experience_travel{
    height: 200px;
    width: 100%;
    margin-top: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
li{
    float: left;
    padding: 20px;
}

/* .technology{
    display: block;
    padding: 20px 40px;
    font-weight: bold;
} */
.escaped_image{
    height: 400px;
    width: 100%;
}
.escape_parent{
    position: relative;
}
.escape_plan{
    background-color:aliceblue;
    position: absolute;
    display: block;
    /* top:50%;
    left: 50%; */
    /* transform: (-50%,-50%); */
    height: 150px;
    width: 50%;
    top: -30px;
    margin-top: 350px;
    /* margin-top: -3%; */
    text-align: center;
    display: block;
    overflow: hidden;
    margin-left: 20%;
    
}
.plan_inclusive_heading{
    text-align: center;
}

.help_of_socialmedia{
    margin-top: 190px;
}
li{
    padding: 10px;
}
.links{
    margin-top: 150px;
}
.links ul li a {
    color:dodgerblue;
}
.links li a:hover{
    color:tomato;
}
.helpline_no{
    font-weight: bold;
    font-size: 36px;
    color:sandybrown
}