/* .hiltonimg{
    height: 100px;
    width: 70px;
} */
.nav navbar-nav ul li a:hover{
    background-color: transparent;
}
.hiltonimg img{
    height: 100px;
}
.navbar-nav li a{
    padding-top: 35px;
    font-size: 17px;
}
